<!DOCTYPE html>
<html>
    <head>
        <title>Stylists</title>
    </head>
    <body>
        <h1>{{ stylist.getName }}</h1>

        {% if clients is not empty %}
            <h3>here are the clients for {{ stylist.getName }}</h3>
            <ul>
                {% for client in clients %}
                    <li>{{ client.getName }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p><a href="/stylists/{{ stylist.getId }}/edit">Edit this Stylist</a></p>
        <h4>Add a Client</h4>
        <form action='/clients' method="post">
            <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
            <label for="client-name">Client Name</label>
            <input id="client-name" name="client-name" type="text">
            <button type="submit">Add a client</button>
        </form>
        <p><a href="/">Home</a>
    </body>
</html>
