<!DOCTYPE html>
<html>
    {% include "/partials/header.html" %}
    <body>
        <div class="container">
            <br>
            <h1>{{ stylist.getName }}</h1>
            <hr><br>

            {% if clients is not empty %}
                <h3 class="b-name">{{ stylist.getName }}'s clients: </h3>
                <ul>
                    {% for client in clients %}
                        <li class="client-list"><a href = "/client/{{ client.getId }}/edit">{{ client.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            <p><a href="/stylists/{{ stylist.getId }}/edit">Edit this Stylist</a></p><br>
            <h4>Add a Client</h4><br>
            <form action='/clients' method="post">
              <div class="form-group">
                <input class="form-control" id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
                <label for="client-name">Client Name</label>
                <input id="client-name" name="client-name" type="text"><br>
              </div>
                <button class="btn btn-default" type="submit">Add a client</button>
            </form><br>
            <p><a href="/">Home</a>
        </div>
    </body>
</html>
